* {
    margin: 0;
    padding: 0;
    outline: 0;
}

ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

.mini_none {
    display: block;
}

.mini_block {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
i,
input,
form,
img,
a,
label,
.btn {
    padding: 0;
    margin: 0;
}

/* Color */
/* Fonts */
@font-face {
    font-family: Avenir-Medium;
    src: url(../assets/fonts/Avenir-Medium.ttf);
}

/* Section Title */
h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 50px;
    color: #071f3a;
    text-align: center;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 28.5px;
    font-style: normal;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    color: #071f3a;
}

h4 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
}

h5 {
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18.75px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

h6 {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14.5637px;
    line-height: 20px;
    color: #ffffff;
}

p {
    font-style: normal;
    font-size: 13px;
}

body {
    overflow-x: hidden;
    z-index: -999999;
}

@media (min-width: 1200px) {
    .full-width {
        min-width: 1140px !important;
    }
    
    footer .social25 {
        padding-left: 250px;
    }
}


footer {
    padding: 176px 0;
    background-image: url('../assets/img/Bottom-Banner-IMAGE.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}

footer h2 {
    text-align: center;
    color: #ffffff;
}

footer h4 {
    margin: 50px 0;
    padding: 0 30px;
}

footer .forms18 {
    width: 84.5%;
    margin: 0 auto;
    /* Checkbox Part */
    /* Button Part */
}

footer .forms18 .form-control::placeholder {
    font-size: 14px;
}

footer .forms18 .check152 .checkbox {
    position: relative;
    display: block;
    /*width: 100px;*/
}

footer .forms18 .check152 input[type="checkbox"] {
    width: auto;
    opacity: 0.00000001;
    position: absolute;
    left: 0;
    margin-left: -20px;
}

footer .forms18 .check152 .helper {
    position: absolute;
    top: -3px;
    left: -4px;
    cursor: pointer;
    display: block;
    font-size: 16px;
    user-select: none;
    color: #e7e7e7;
}

footer .forms18 .check152 .helper:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 30px;
    height: 30px;
    transition: transform 0.28s ease;
    border-radius: 6px;
    border: 1.5px solid #fff;
    background: none;
}

footer .forms18 .check152 .helper:hover:before {
    border: 2px solid #f13c5b;
}

footer .forms18 .check152 input[type="checkbox"]:checked~.helper::before {
    background: #f13c5b;
    border: 2px solid #f13c5b;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

footer .forms18 .check152 .helper:after {
    content: '';
    display: block;
    width: 16px;
    height: 10px;
    border-bottom: 3px solid #ffffff;
    border-left: 3px solid #ffffff;
    -webkit-transform: rotate(-45deg) scale(0);
    -moz-transform: rotate(-45deg) scale(0);
    -ms-transform: rotate(-45deg) scale(0);
    transform: rotate(-45deg) scale(0);
    position: absolute;
    top: 12px;
    left: 10px;
    background: none;
}

footer .forms18 .check152 input[type="checkbox"]:checked~.helper::before {
    color: #000;
}

footer .forms18 .check152 input[type="checkbox"]:checked~.helper::after {
    -webkit-transform: rotate(-45deg) scale(1);
    -moz-transform: rotate(-45deg) scale(1);
    -ms-transform: rotate(-45deg) scale(1);
    transform: rotate(-45deg) scale(1);
}

footer .forms18 .check152 .checkbox label {
    min-height: 24px;
    padding-left: 35px;
    margin-bottom: 0;
    font-weight: normal;
    cursor: pointer;
    vertical-align: sub;
    color: white;
}

footer .forms18 .check152 input[type="checkbox"]:focus+label::before {
    outline: #3b99fc auto 5px;
}


footer .forms18 .button {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    color: #ffffff;
    letter-spacing: 0.025em;
    border-radius: 10px;
    background: #f13c5b;
    padding: 18px 0;
    cursor: pointer;
    border: 0;
    min-width: 180px;
    overflow: hidden;
    position: absolute;
    -webkit-transition: all linear 0.4s;
    -moz-transition: all linear 0.4s;
    -ms-transition: all linear 0.4s;
    -o-transition: all linear 0.4s;
    transition: all linear 0.4s;
}

footer .forms18 .button span {
    display: block;
    position: relative;
    z-index: 10;
    font-family: 'Nunito', sans-serif;
}

footer .forms18 .button::after,
footer .forms18 .button::before {
    padding: 18px 0 11px;
    content: '';
    position: absolute;
    top: 0;
    left: calc(-130%);
    height: calc(100%);
    width: calc(120%);
    color: #fff;
    border-radius: 2px;
    transform: skew(-25deg);
}

footer .forms18 .button::after {
    background: #fff;
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
    z-index: 0;
    opacity: 0.8;
}

footer .forms18 .button::before {
    background: #5ca7f6;
    z-index: 5;
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

footer .forms18 .button:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
}

footer .forms18 .button:hover::after {
    left: calc(-10%);
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

footer .forms18 .button:hover::before {
    left: calc(-10%);
    transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
}

footer .forms18 .button-change::after,
footer .forms18 .button-change::before {
    padding: 18px 0 11px;
    content: '';
    position: absolute;
    top: 0;
    left: calc(-130%);
    height: calc(100%);
    width: calc(120%);
    color: #fff;
    border-radius: 2px;
    transform: skew(-25deg);
}

footer .forms18 .button-change::before {
    background: #64ba37;
    left: calc(-10%);
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

footer .forms18 .button-change::after {
    background: #fff;
    left: calc(-10%);
    transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

footer .forms18 .logo_part025 {
    margin-top: 119px;
    margin-bottom: 88px;
}

footer::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: 221px;
    width: 100%;
    height: 1px;
    background: #435B76;
}

footer .social25 .link30 {
    float: left;
    margin: 0 15px;
}

@media (max-width: 1024px) {

    footer {
        padding-bottom: 150px;
        padding-top: 145px;
    }

    footer .container {
        padding: 0;
    }

    footer::after {
        bottom: 203px;
    }

    footer a.text-white {
        display: inherit;
        text-align: right;
    }

    footer .mr-0 {
        margin-right: 0 !important;
    }

    footer .w100 {
        width: 55%;
    }

    footer .link30.mr-0 {
        margin-right: 7px !important;
    }

    footer .forms18 {
        width: 100%;
        margin: 0 auto;
    }

    footer .forms18 .check152 .helper::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        margin: 4px;
        width: 25px;
        height: 25px;
        transition: transform 0.28s ease;
        border-radius: 6px;
        border: 1.5px solid #fff;
        background: none;
    }

    footer .forms18 .check152 .checkbox label {
        padding-left: 30px;
        font-size: 13px;
        vertical-align: middle;
        min-height: 20px;
    }

    footer .forms18 .check152 .helper::after {
        width: 13px;
        height: 8px;
        top: 10px;
        left: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    footer::after {
        bottom: 240px;
    }

    footer .copy13 p {
        width: 280px;
    }

    footer .social25 {
        width: 300px;
    }
}

footer .copy13 {
    display: inline-block;
}

footer .copy13 p {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 16px;
    color: #A9B8CA;
}

footer .legal {
    padding: 0 20px;
}

footer .link {
    display: inline-block;
}

footer a {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
}

footer .social25 {
    float: left;
    width: 100%;
}

@media (min-width:360px) and (max-width: 753px) {

    footer .social25 {
        float: left;
        width: 100%;
        margin-left: 0%;
    }
    footer .w100 {
        width: 100%;
    }
    footer .social25 .link30 {
        float: right;  
        margin: -3px 7px;
    }
            footer .social25 .link30.soc {
                margin-top: 10px;
            }
}


/*@media (min-width:768px) and (max-width:1024) {
    
    footer .social25 {
        float: left;
        width: 100%;
        margin-left: 100%;
    }
}*/
