.strategic-insight {
  width: auto;
  height: 36px;
  font-family: Quicksand;
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #071f3a;
  margin-top: 100px;
}

.digital-social {
  width: auto;
  height: 25px;
  font-family: Quicksand;
  font-size: 32px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 100px;
  color: #071f3a;
}
.orange-bar {
  position: static;
  width: auto;
  height: 190px;
  object-fit: contain;
  margin-top: -130%;
  margin-left: -33%;
  z-index: 1;
}
.pink-bar {
  position: static;
  width: auto;
  height: 210px;
  margin-top: -97.5%;
  margin-left: 67.5%;
  z-index: 1;
}
.MKT-MGMT {
  position: static;
  width: auto;
  height: auto;
  object-fit: contain;
  margin-top: 10%;
  margin-left: 17.5%;
  box-shadow: 0px 0px 30px 0px rgba(55, 55, 55, 0.1);
  border-radius: 25px;
}
.centered {
  position: absolute;
  width: 35%;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -12.5%);
  z-index: -1;
}
.white-bg {
  position: absolute;
  width: auto;
  height: 1080px;
  top: 1080px;
}
.strategic-happen {
  width: auto;
  height: 36px;
  font-family: Quicksand;
  font-size: 25px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #071f3a;
  margin-top: 5%;
  margin-left: -2%;
  margin-bottom: 12.5%;
}
.shape-bouncer-social {
  margin-top: 85px;
  position: absolute;
  left: calc(50% - 1.3em);
  margin-bottom: 0px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background: #f13c5b;
  border-radius: 50%;
  padding: 10px 9px;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 3s infinite;
}
.icon-like {
  top: 320px;
  left: 18%;
  width: auto;
  height: 2.25em;
  display: inline-block;
  position: absolute;
}
.icon-omg {
  top: 465px;
  left: 38%;
  width: auto;
  height: 2.75em;
  display: inline-block;
  position: absolute;
  animation: bounce 2s;
}
.icon-love {
  top: 460px;
  left: 60%;
  width: auto;
  height: 2.5em;
  display: inline-block;
  position: absolute;
}
.icon-vote {
  top: 290px;
  left: 75%;
  width: auto;
  height: 2.75em;
  display: inline-block;
  position: absolute;
  animation: bounce 3s infinite;
}
.icon-tiktok {
  top: 950px;
  width: auto;
  height: 3em;
  left: 24.5%;
  display: inline-block;
  position: absolute;
}
.icon-retweet {
  top: 1100px;
  left: 72.5%;
  display: inline-block;
  position: absolute;
}
.icon-message {
  top: 1300px;
  left: 26.5%;
  display: inline-block;
  position: absolute;
}
.icon-like-gr {
  top: 1500px;
  left: 15%;
  display: inline-block;
  position: absolute;
}
.icon-omg-2 {
  top: 1450px;
  left: 85%;
  display: inline-block;
  position: absolute;
  -webkit-animation: bounce 3s infinite;
  animation: bounce 5s infinite;
}
.icon-play {
  top: 1550px;
  left: 95%;
  display: inline-block;
  position: absolute;
}
.services-card:not(:last-child) {
  margin-right: 2rem;
}
.section-contact {
  padding: 11rem 0 6rem 0;
  position: static;
  margin-top: -135px;
  background-image: url("../assets/img/Bottom-Banner-IMAGE.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
